[submodule "backend"]
	path = backend
	url = https://github.com/coulontitouan/discord.livreur.ovh-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/coulontitouan/discord.livreur.ovh-frontend
